<h1>New Student</h1>

<% if flash[:errors_array] %>
  <% flash[:errors_array].each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>

<%= form_for @student do |f| %>

    <%= f.label :name, "Student Name" %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :mod, "Mod Number" %>
    <%= f.number_field :mod %>
    <br>
    <%= f.submit "Create New Student" %>

<% end %>



